{%comment%}
Base html provides the basic layout presistent accross all pages
block head provides the js include only for the page that needs it (project_detail.html)
Sources:

~Navbar~
https://pypi.org/project/django-bootstrap5/
https://getbootstrap.com/docs/5.0/components/navbar/


{%endcomment%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mango Pests</title>
  {% load static %}
  <link rel="stylesheet" href={%static 'css/style.css'%}>
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {%block head%}

  {%endblock%}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BioMangoes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'pestlist' %}">Pestlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'references' %}">References</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <main>
    {% block content %}

    {% endblock %}
  </main>

</body>

</html>