{% extends "mango_pests/base.html"%}

{%comment%}
Sources:
https://getbootstrap.com/docs/4.0/components/buttons/
{%endcomment%}

{%block content%}
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="display-4">Welcome to Biomangoes pest information!</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <p>Discover important information about pests affecting mango crops and how to manage them</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a type="button" href="{% url 'pestlist' %}" class="btn btn-outline-primary">View Pests</a>
        </div>
    </div>
</div>
{%endblock%}