{%extends "mango_pests/base.html"%}
{%load static%}
{% load custom_filters %}

{%comment%}

Sources:
https://getbootstrap.com/docs/4.0/components/list-group/

Notes:
Symptoms have a nifty little feature that allows you to pass the "serverity" of each symptom.
Otherwise a standard level can be passed inside the dictionary.

{%endcomment%}
{% block head %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}


{% block content %}

<div class="container text-center">

    <div class="row justify-content-center my-4">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="col-md-3 mx-auto text-center mt-3">
                    <img src="{% static pestdetails.image %}" class="img-fluid rounded"
                        alt="{{ pestdetails.cardtitle }}">
                </div>
                <div class="card-body">
                    <p id="summary-text" class="card-text">
                        {{ pestdetails.detailedinfo|truncate:300 }}
                    </p>
                    <p id="more-text" hidden>{{ pestdetails.detailedinfo }}</p>
                    <button id="read-more-btn" class="btn btn-link p-0" onclick="expandText()">Read more</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul class="list-group mb-4">
                <li class="list-group-item active">Symptoms</li>
                {% for level, symptom in pestdetails.symptoms %}
                <li class="list-group-item list-group-item-{{ level }}">{{ symptom }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul class="list-group mb-4">
                <li class="list-group-item active">Treatments</li>
                {% for treatment in pestdetails.treatments %}
                <li class="list-group-item list-group-item-primary">{{ treatment }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}