<!--TODAY MAKE THIS A DJANGO TEMPLATE, IMPLEMENT BEST PRACTICES, ADD TO MENU, -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>References</title>
</head>
<body>
    <style>
    h1{text-align: center;}
    </style>      
    <h1>References</h1>
        <ul>
            <li>Eruvaaka. (n.d.). <i>Mango hoppers: Integrated management of mango leaf hoppers</i>. <i>Eruvaaka</i>. <a href="https://english.eruvaaka.com/mango-hoppers-integrated-management-of-mango-leaf-hoppers-30919.html">https://english.eruvaaka.com/mango-hoppers-integrated-management-of-mango-leaf-hoppers-30919.html</a></li>
            <li>Lucidcentral. (n.d.). <i>Mango anthracnose</i>. <i>Lucidcentral</i>. <a href="https://apps.lucidcentral.org/pppw_v10/text/web_full/entities/mango_anthracnose_009.htm">https://apps.lucidcentral.org/pppw_v10/text/web_full/entities/mango_anthracnose_009.htm</a></li>
            <li>Multiplex Group. (n.d.). <i>Mango fruit fly a menace in king of fruits</i>. <i>Multiplex Group</i>. <a href="https://www.multiplexgroup.com/mang-fruit-fly-a-menace-in-king-of-fruits">https://www.multiplexgroup.com/mang-fruit-fly-a-menace-in-king-of-fruits</a></li>
            <li>ResearchGate. (2021). <i>Mango stem borer: A serious pest and management strategies</i>. <i>ResearchGate</i>. <a href="https://www.researchgate.net/publication/357630765_Reviews_In_Food_And_Agriculture_RFNA_MANGO_STEM_BORER_A_SERIOUS_PEST_AND_MANAGEMENT_STRATEGIES">https://www.researchgate.net/publication/357630765_Reviews_In_Food_And_Agriculture_RFNA_MANGO_STEM_BORER_A_SERIOUS_PEST_AND_MANAGEMENT_STRATEGIES</a></li>
            <li>SPCHCMC. (n.d.). <i>Mangoes damaging powdery mildew</i>. <i>SPCHCMC</i>. <a href="http://www.spchcmc.vn/EN/Plant-doctor-Detail/Mangoes-Damaging-Powdery-Mildew-5-8432.html">http://www.spchcmc.vn/EN/Plant-doctor-Detail/Mangoes-Damaging-Powdery-Mildew-5-8432.html</a></li>
        <\ul>  
    <p><a href="{% url 'home' %}">Back to Home</a></p>
</body>
</html>
